.main-navbar {
  height: 70px;
  padding-left: 45px;
  
  background-color: var(--primary-color);
  
  display: flex;
  align-items: center;
}

.logo-text {
  font-weight: bold;
  font-size: 24px;

  margin-left: 15px;
  line-height: 33px;
  letter-spacing: -0.015em;
  
  color: var(--light-color);
}